In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['mse','mae'],
'max_features': ['auto','sqrt','log2'],
'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(independent,dependent)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   27.3s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   38.6s finished
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [9]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'log2', 'n_estimators': 100}:

In [10]:
table=pd.DataFrame.from_dict(re)

In [11]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.174774,0.075988,0.013252,0.007501,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.831633,0.817322,0.813410,0.820788,0.007833,7
1,0.729042,0.118542,0.033299,0.010288,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.834938,0.826234,0.816927,0.826033,0.007354,5
2,0.101006,0.009418,0.024336,0.011557,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.837872,0.805631,0.802424,0.815309,0.016008,10
3,0.503663,0.038108,0.059502,0.011072,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.840695,0.836603,0.814166,0.830488,0.011662,2
4,0.098396,0.043316,0.027487,0.012484,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.827421,0.814722,0.811970,0.818038,0.006730,9
5,0.481828,0.057793,0.063452,0.013918,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.841366,0.831879,0.818105,0.830450,0.009550,3
6,1.544675,1.172985,0.026054,0.036846,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.816797,0.817779,0.810949,0.815175,0.003015,11
7,6.799822,0.448874,0.036470,0.019492,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.829659,0.828620,0.816082,0.824787,0.006170,6
8,0.346944,0.015062,0.002334,0.003300,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.831674,0.821811,0.807161,0.820215,0.010071,8
9,3.822966,0.980951,0.253000,0.165457,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.832584,0.837078,0.820991,0.830218,0.006777,4
10,0.312819,0.044367,0.000000,0.000000,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.821958,0.800959,0.810026,0.810981,0.008599,12
11,5.535305,0.966017,0.036670,0.001699,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.841056,0.835316,0.815362,0.830578,0.011011,1

In [12]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:20
BMI:27
Children:0
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[19285.8499606]