In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [7]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
'max_features': ['auto','sqrt','log2'],
'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)
grid.fit(independent,dependent)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   51.1s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   58.1s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [12]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'auto', 'splitter': 'random'}:

In [13]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.010423,7.370079e-03,0.005210,7.368056e-03,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.706241,0.662473,0.698473,0.689062,0.019067,4
1,0.002333,3.300042e-03,0.011754,5.482743e-03,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.665107,0.702437,0.653112,0.673552,0.021003,10
2,0.005210,7.368281e-03,0.005210,7.368730e-03,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.663297,0.583855,0.520980,0.589377,0.058232,18
3,0.010419,7.367269e-03,0.000000,0.000000e+00,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.691725,0.641202,0.542380,0.625102,0.062023,15
4,0.006334,4.921843e-03,0.005001,4.546553e-03,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.723048,0.589552,0.747516,0.686705,0.069420,6
5,0.015943,4.419838e-04,0.000000,0.000000e+00,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.597025,0.643292,0.695740,0.645352,0.040326,14
6,0.463387,5.159957e-01,0.036671,4.905854e-02,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.699712,0.732444,0.679467,0.703875,0.021827,2
7,0.777057,5.840356e-02,0.077004,3.618041e-02,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.676013,0.743035,0.743828,0.720959,0.031783,1
8,0.403028,2.705754e-01,0.035002,4.455356e-02,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.673996,0.642927,0.705801,0.674241,0.025669,9
9,0.025335,9.432465e-04,0.003001,4.899036e-07,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.663439,0.670110,0.705290,0.679613,0.018360,8
10,0.147914,1.717043e-01,0.022839,2.805609e-02,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.605631,0.701799,0.758595,0.688675,0.063133,5
11,0.020802,7.312310e-03,0.005209,7.366932e-03,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.616296,0.723382,0.658142,0.665940,0.044064,11
12,0.015630,7.867412e-07,0.000000,0.000000e+00,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.701069,0.659833,0.709268,0.690057,0.021632,3
13,0.005210,7.368168e-03,0.000000,0.000000e+00,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.677619,0.694150,0.676915,0.682895,0.007964,7
14,0.000000,0.000000e+00,0.015634,1.403771e-06,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.653529,0.576741,0.638898,0.623056,0.033290,16
15,0.000000,0.000000e+00,0.000000,0.000000e+00,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.660510,0.645029,0.640700,0.648746,0.008504,13
16,0.015632,1.632582e-06,0.000000,0.000000e+00,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.620148,0.501053,0.715349,0.612184,0.087667,17
17,0.031259,4.420654e-02,0.005210,7.367606e-03,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.632750,0.691028,0.665046,0.662941,0.023838,12

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:30
BMI:30
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[19521.9682]